.Button{
  button{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;

  }
}