.Home-content-content{
  display: flex;
  justify-content: space-between;
  margin: 80px 0;

  .description{
    h1{
      color: black;
    }

    &-button{
      display: flex;
      button{
        margin-right: 30px;
      }
    }
  }

  .code{
    h3{
      color: black;
    }
  }

  img{
    width: 300px;
  }
}

.content-two{
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  height: 400px;
  display: flex;
  align-items: center;
}