.Home-sidebar{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 10px 0 50px 0;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

.Article-sidebar{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 10px 0 50px 0;
  width: 300px;
  position: sticky;
  top: 53px;
  left: 0;
  height: calc(100vh - 53px);
  overflow: auto;
}

.Sidebar-li{
  margin-top: 40px;

  ul{
    padding-left: 50px;

    h2{
      color: black;
    }
  }
}