@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300&display=swap');


* {
  font-family: 'Assistant', sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  color: #929292;
  list-style-type: none;
  text-decoration: none;
}


*:focus {
  outline: 0;
}

ul{
  margin: 0;
}

.Content-container{
  display: flex;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.Home-content{
  display: flex;
}

.Home-content-wrapper {
  flex: 1;
}