@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300&display=swap');


* {
  font-family: 'Assistant', sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  color: #929292;
  list-style-type: none;
  text-decoration: none;
}

*:focus {
  outline: 0;
}

ul{
  margin: 0;
}
