@media screen and (max-width:900px){

  .Header-menu{
    position: relative;
  
    ul{
      display: flex;
      flex-wrap: wrap;
    }
  }

  .Home-content-content{
    .code{
      max-width: 400px;
    }
  }

  .Home-sidebar {
    display:none;
  }

  .Article-sidebar{
    display: none;
  }

  .Content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
  
  
